/*统一定义字体大小*/
.font-12{ font-size: 0.12rem; }
.font-14{ font-size: 0.14rem; }
.font-24{ font-size: 0.24rem; }
.font-26{ font-size: 0.26rem; }
.font-28{ font-size: 0.28rem; }
.font-36{ font-size: 0.36rem; }